td{
    background: lightyellow;
    padding: 5px;
}
th{
    background: brown;
    color: white;
    padding: 5px;
}

body{
    font-family: Verdana, Geneva ;
}

input{
    height: 40px;
    width: 200px;
}

button{
    height: 40px;
    width: 60px;
    background: brown;
    color: white;
}